<?xml version="1.0" encoding="UTF-8"?>
<!-- High level launch file for Unit 3 exercises  -->
<launch>

<arg name="x_pos" default="0.0"/>
<arg name="y_pos" default="0.0"/>
<arg name="z_pos" default="0.0"/>
<arg name="yaw" default="0.0"/>
<arg name="use_gui" default="true"/>

<!-- Set name of the world to be launched, configure as required -->
<arg name="world_name" default="worlds/empty.world"/>
<!-- <arg name="world_name" default="$(find unit3_exercises_pp)/worlds/unit3_exercise.world"/> -->

<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg use_gui)"/>
    <arg name="headless" value="true"/>
    <arg name="debug" value="false"/>
</include>

<!-- Configure differential drive controller Gazebo plugin -->
<arg name="diff_drive_publishTf" default="true" />
<arg name="diff_drive_publishOdomTF" default="true" />
<arg name="pkg_containing_meshes" default="kobuki_description" />
<!--
  <arg name="pkg_containing_meshes" default="unit3_exercises_pp/urdf" />
-->

<!-- Send URDF to parameter server -->
<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find unit3_exercises_pp)/urdf/turtlebot2.xacro'
                                         diff_drive_publishTf:=$(arg diff_drive_publishTf)
                                         diff_drive_publishOdomTF:=$(arg diff_drive_publishOdomTF)
                                         pkg_containing_meshes:=$(arg pkg_containing_meshes)" />

<!-- Spawn a robot into Gazebo -->
<!-- Requires: urdf 'robot_description' in parameter server -->
<arg name= "robot_name" default= "robot_base"/>

<node name="urdf_robot_model_spawner" pkg="gazebo_ros" type="spawn_model"
  args="-param robot_description
  -urdf
  -x $(arg x_pos)
  -y $(arg y_pos)
  -z $(arg z_pos)
  -Y $(arg yaw)
  -model $(arg robot_name)"
  respawn="false" output="screen"/>

  <!-- Broadcast TF values for all fixed elements in the URDF description tree such as the IMU -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <!-- Broadcast TF values for all moving elements in the URDF description tree such as wheels -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Run the map server to load a pre-made map -->
  <arg name="map_file" default="$(find unit3_exercises_pp)/maps/empty_world.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- A static transform odom w.r.t. map (0 0 0) to replace AMCL localization (requires perfect odometry) -->
  <!-- Determine whether to run a static transform publisher or not -->
  <arg name="static_tf" default="true" />
  <node if="$(arg static_tf)" pkg="tf2_ros" type="static_transform_publisher" name="odom_wrt_map_tf" args="0 0 0 0 0 0 map odom" />

  <!-- MOVE_BASE -->
  <include file="$(find unit3_exercises_pp)/launch/move_base.launch" />

  <!-- Determine whether to run Rviz or not & set Rviz config file-->
  <arg name="use_rviz" default="true" />
  <arg name="rvizconfig" default="$(find unit3_exercises_pp)/rviz/unit3_exercises.rviz"/>
  <!-- Launching Rviz -->
  <node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(arg rvizconfig)"/>

  <!-- Start service server that responds with a plan for global path planning -->
  <node pkg="unit3_exercises_pp" name="dijkstra_exercise" type="unit3_exercise.py" output="screen"/> 

</launch>
